openssl_conf = openssl_init

[openssl_init]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
CipherString = ECDHE-RSA-AES256-GCM-SHA384
MinProtocol = TLSv1.2
SignatureAlgorithms = RSA+SHA256:ECDSA+SHA256
